* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(233, 100%, 97%);
  --bg-secundary-color: hsl(218, 17%, 62%);
  --bg-heading: hsl(275, 18%, 79%);
  --bg-span: hsl(312, 91%, 96%);


  font-size: 62.5%;
  --fs-h1: 4rem;
  --fs-body: 2rem;

  --ff-heading: 'Staatliches', Arial, cursive;
  --ff-paragraph: 'Palanquin', Arial, sans-serif;

  --font-color-h1: hsl(0, 0%, 100%);
  --font-color-body: hsl(232, 17%, 35%);
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;

  height: 27.9rem;
  width: 100%;

  background: var(--bg-secundary-color);

}

.page {
  width: 100%;
}

header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20rem;
  z-index: -1;

  height: 4.9rem;
  width: 100%;

  background: var(--bg-heading);

}

header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  margin-block: 3.2rem 5rem;
}

header svg {
  height: 13.7rem;
  width: 13.7rem;
}

header h1 {
  font-size: var(--fs-h1);
  line-height: 3.4rem;
  font-weight: 400; 
  color: var(--font-color-h1);
}

main {
  padding: 0 3.2rem 6rem;
  display: grid;
  gap: 3.6rem;

  width: 100%;
  animation: downtop 700ms;
}

 p {
  font-family: var(--ff-paragraph);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;

  color: var(--font-color-body);

  margin: 0 auto 6.3rem;

  width: 30.5rem;
  height: 7.5rem;

}

.card {
  position: relative;
}

.card span {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 2;

  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 3.4rem;
  color: var(--font-color-body);
  text-align: center;

  background: var(--bg-span);
  width: 11.2rem;
  border-radius: 2rem;
  padding-inline: 2.3rem;

  animation: topdown 1.4s;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-items: center;

  opacity: 1;
  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.07);
  opacity: 0.7;
}

/*----------ANIMAÇÕES ---------*/

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}